<!-- チャットヘッダー -->
    <div class="chat-top">
      <div class="chat-name">
        <%= @room.name %>
      </div>
      <div class="chat-end">
        <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
      </div>
    </div>
<!-- メッセージ一覧 -->
    <div class="messages">
      <%= render partial: "message", collection: @messages %>
    </div>
<!-- チャットフッター -->
    <%= form_with model: [@room, @message], class: 'chat-bottom', local: true do |f| %>
      <div class="message-input">
        <%= f.text_field :content, class: 'message-form', placeholder: 'type a message' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
        <%= f.submit '送信', class: 'chat-submit' %>
    <% end %>